@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  max-width: 1440px;
  margin: auto;
}

main {
  max-width: 1440px;
}

.inter {
  font-family: 'Inter', sans-serif;
  color: #fff;
}

.creta {
  font-family: 'Crete Round', sans-serif;
}

#wraper {
  height: 90vh;
  background: #1C1A19;
  background-image: url(img/vektor1.png);
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: 100% 100%;
  width: 1440px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  height: 90px;
  background: #3e3c3c;
  width: 1440px;
}

.pages a {}

.me h1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  margin: 26px 154px;
}

.navi {
  display: flex;
  margin-top: 26px;
  text-decoration: none;
  color: #fff;
  margin-right: 154px;
}

.navi li {
  margin-right: 50px;
  list-style: none;
}

.navi a {
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  width: 63px;
  height: 30px;
}

.navigation {
  margin-right: 15px;
}

.content {
  display: grid;
  grid-template-columns: 100px 566px auto;
  grid-gap: 10px;
}

.toolbar {
  position: relative;
  top: 230px;
}

.toolbar ul {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 80px;
}

.toolbar li {
  position: relative;
  right: 10px;
  margin-top: 12px;
  height: 20px;
}

.toolbar a {
  margin-right: 30px;
  color: rgb(236, 228, 233);
}

.summary {
  position: relative;
  width: 566px;
  top: 230px;
}

.content h1 {
  color: #f55800;
  font-size: 72px;
  line-height: 81px;
  margin-left: 100px;
}

.content h2 {
  padding-top: 10px;
  font-size: 30px;
  color: #fff;
}

.content p {
  color: white;
  padding-top: 10px;
  font-size: 20px;
}

.toolbar ul {
  display: flex;
  list-style: none;
  margin-top: 10px;
  padding-bottom: 150px;
  height: 20px;
}

.social {
  width: 10px;
  margin-right: 55px;
}

#sidebar {
  display: flex;
  top: -100%;
  flex-direction: column;
  position: fixed;
  background: #3e3c3c;
  list-style: none;
  right: 350px;
  width: 200px;
  transition: 750ms;
  z-index: 1000;
}

.menu {
  color: #fff;
  font-size: 30px;
}

#sidebar li {
  text-align: center;
  width: 110px;
  height: 50px;
}

#sidebar a {
  text-align: center;
  text-decoration: none;
  width: 110px;
  height: 50px;
  color: #fff;
}

.toolbar a:hover {
  font-size: 20px;
}

.toolbar a:focus {
  font-size: 27px;
}

.navi a:hover {
  font-size: 18px;
  color: #fff;
}

.menu:hover {
  font-size: 40px;
}

#sidebar a:hover {
  font-size: 17px;
}

#sidebar.active {
  top: 0;
  transition: 350ms;
}


/* end of first section */

#container {
  background: #E5E5E5;
}

.row {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: start;
  margin-top: 70px;
}

.in-row {
  margin-right: 140px;
}

.img {
  flex-grow: 1;
}

.title h1 {
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  width: 327px;
  font-weight: 400;
  margin: 50px 0 20px 141px;
}

.in-row h2 {
  font-size: 40px;
  margin-top: 20px;
}

.dash {
  margin-left: 500px;
  margin-top: -40px;
}

#container {
  background: #fff;
}

#container img {
  display: block;
  width: 684px;
  height: 448px;
  margin: 24px 5px 24px 141px;
}

.about p {
  text-align: justify;
  margin-left: 20px;
}

.around-p {
  width: 448px;
}

.around-p p {
  font-size: 20px;
  line-height: 28px;
  color: #091E42;
  text-align: justify;
}

#buttons-container {
  display: flex;
  position: relative;
  margin-top: 20px;
  margin-left: -32px;
  margin-right: 143px;
}

.buttons {
  position: relative;
  background: #fff;
  border: 1px solid #8993a4;
  list-style-type: none;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 12px;
  margin-right: 9px;
}

.buttons a {
  text-decoration: none;
  color: #091e42;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.button {
  width: 150px;
  height: 48px;
  background: #ff6b00;
  color: #fff;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  position: relative;
  list-style-type: none;
  padding-top: 12px;
}

.button a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  font-family: 'Inter', sans-serif;
}

.button:hover {
  background: #fff;
  border: 1px solid #ff6b00;
}

.button:hover a {
  color: #ff6b00;
}

.buttons:active {
  background: #ff6b00;
}

.buttons:hover {
  border: 1px solid #e05304;
}

.buttons:active {
  background: #ff6b00;
}


/* uper row */

.projects-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin: 20px 143px 0 141px;
  gap: 20px
}

.projects {
  width: 369px;
  height: 435px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%);
  background: url(img/project1.png) no-repeat;
  background-size: cover;
}

.projects1 {
  width: 369px;
  height: 435px;
  background-color: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%);
  background: url(img/project2.png) no-repeat;
  background-size: cover;
}

.projects2 {
  width: 369px;
  height: 435px;
  background-color: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%);
  background: url(img/project3.png) no-repeat;
  background-size: cover;
}

.projects3 {
  width: 369px;
  height: 435px;
  background-color: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 84.18%);
  background: url(img/project4.png) no-repeat;
  background-size: cover;
}

.fix h2 {
  position: relative;
  font-size: 32px;
  margin-left: 16px;
  color: #fff;
}

.fix {
  display: flex;
  flex-direction: column;
  margin-top: 220px;
}

.fix2 {
  display: flex;
  flex-direction: column;
  margin-top: 172px;
}

.fixx {
  margin-left: 24px;
}

.fix h5 {
  height: 87px;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 24px;
  margin-left: 16px;
}

.white {
  color: #fff;
}

.framework-container {
  display: flex;
  padding-left: 16px;
  margin-top: 20px;
}

.framework {
  background: rgba(255, 255, 255, 0.24);
  opacity: 50%;
  list-style-type: none;
  font-family: "Inter", sans-serif;
  height: 40px;
  padding: 0 12px;
  margin-right: 20px;
}

.framework a {
  position: static;
  height: 20px;
  left: 12px;
  top: 10px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: #fff;
}

.big-button {
  margin-top: 380px;
  height: 58px;
  background: #f55800;
}

.or-button {
  text-align: center;
  list-style-type: none;
  margin-left: -20px;
}

.or-button a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.framework:hover {
  background: rgba(255, 255, 255, 0.34);
}

.framework:active {
  background: rgba(255, 255, 255, 0.24);
}

.big-button:hover {
  background: #fff;
  border: 1px solid #f55800;
}

.big-button:hover a {
  color: #f55800
}

.big-button:active {
  background: #e05304;
}


/* .buttons:hover a {
  color: #fff;
} */


/* end of second section */

#end {
  background: #000;
  margin-top: 130px;
}

.about {
  background-image: url(img/about.png);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: 100% 100%;
  margin-left: 142px;
}

.line {
  border: 1px solid #e5e5e5;
  margin: 0 142px;
  margin-top: 100px;
}

.about h1 {
  font-size: 72px;
  padding-top: 130px;
}

.about p {
  margin-left: 0;
  width: 556px;
  font-weight: 400;
  color: #f4f5f7;
  font-size: 17px;
}

.get {
  width: 161px;
  height: 48px;
  background: #f55800;
}

.get li {
  text-align: center;
  list-style: none;
  margin-top: 10px;
}

.get li a {
  text-decoration: none;
  color: #fff;
  /* font-size: 17px; */
  font-family: 'Inter', sans-serif;
}

.orange {
  color: #ff6b00;
}


/* end of first part */

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #fff;
  background: #000;
  margin-top: 100px;
}

.collums h2 {
  font-size: 32px;
}

.first-column {
  text-align: center;
}

.first-column a {
  font-size: 17px;
  font-family: 'Inter', sans-serif;
}

.second-column {
  text-align: center;
}

.second-column a {
  font-size: 17px;
  font-family: 'Inter', sans-serif;
}

.third-column {
  text-align: center;
}

.third-column a {
  font-size: 17px;
  font-family: 'Inter', sans-serif;
}

.rec1 {
  margin-right: 10px;
}

.rec2 {
  margin-right: 10px;
}

.rec3 {
  margin-right: 10px;
}

.columns ul {
  list-style-type: none;
}

.columns li {
  text-align: center;
  height: 50px;
}

.columns li a {
  text-decoration: none;
  color: #fff;
}

.get:hover {
  background: #fff;
  border: 1px solid f55800;
}

.get:hover a {
  color: #f55800;
}

.columns li a:hover {
  font-size: 26px;
}


/* end of About section  */

#contact {
  display: grid;
  grid-template-columns: 600px 1fr;
  background-color: #fff;
  margin-bottom: 40px;
  margin-top: 100px;
}

form {
  margin-left: -14px;
}

.text {
  width: 455px;
  margin-left: 132px;
  border-bottom: 1px solid #dfe1e6;
  margin-bottom: 64.8px;
  margin-right: 0;
}

.text h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  height: 256px;
  text-align: justify;
}

#name {
  padding-left: 16px;
}

#e-mail {
  padding-left: 16px;
}

form ul li {
  list-style: none;
}

.soc a {
  color: #505f79;
}

form ul li input {
  width: 684px;
  border: none;
  border-bottom: solid 1px #dbd8d7;
  margin-bottom: 40px;
}

form ul li textarea {
  padding: 16px;
  width: 684px;
  height: 114px;
  background: #fbf8f7;
  border: none;
}

.btn {
  display: flex;
  justify-content: start;
}

#submit {
  width: 131px;
  height: 48px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
  margin-left: -14px;
  margin-top: 12px;
  border: none;
}

.soc {
  width: 19.96px;
  height: 19.6px;
}

.soc-media ul {
  display: flex;
  justify-content: start;
  position: relative;
  gap: 20px;
  margin-top: 80px;
  margin-bottom: 26px;
  ;
  list-style: none;
  border-top: 1px solid #dfe1e6;
  padding-top: 20px;
}

#submit:hover {
  border: 1px solid #ff6b00;
  background: #fff;
  color: #ff6b00;
}

#submit:active {
  background: #ff6b00;
}

.soc-media li:hover {
  font-size: 20px;
}
